body {
    background-color: black;
    background: url(https://cdn1.vectorstock.com/i/1000x1000/40/50/background-with-paper-blue-flowers-vector-14984050.jpg)no-repeat center center fixed;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

h6 {
    font-size: 25px;
    font-style: italic;
    color: gold;
    padding-left: 4%;
}

div {
    border-radius: 10px;
    height: 100%;
}

form {
    background-color: white;
    border: 0px solid red;
    border-radius: 10px;
    width: 500px;
    height: 700px;
    /* margin-left: 600px;
    margin-top: 30px;
    font-size: 20px;
   /* padding-left: 20px;*/
}

a {
    color: navy;
    padding-left: 10px;
}

div h2 {
    border: 3px solid red;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    margin-left: 2%;
}


/*i {
    padding-left: 20px;
}*/

div input {
    height: 30px;
    width: 220px;
    border-style: none;
    background-color: white;
    color: white;
    font-size: 20px;
}


/*h4 input {
    margin-left: -15%;
}*/

h3 button {
    background: white;
    border: none;
    color: black;
    font-size: 20px;
    border-radius: 10px;
}

div {
    border-radius: 10px;
    height: 100%;
    width: 10%;
}

form {
    background-color: white;
    border: px solid red;
    border-radius: 10px;
    width: 500px;
    height: 830px;
    margin-left: 300px;
    font-size: 20px;
    padding-left: 5%;
}

a {
    color: navy;
    padding-left: 10px;
}

div h2 {
    border: 3px solid red;
    border-radius: 10px;
    height: 40px;
    width: 55%;
    margin-left: 2%;
}


/*i {
    padding-left: 20px;
}*/

div input {
    height: 30px;
    width: 220px;
    border-style: none;
    background-color: white;
    color: white;
    font-size: 20px;
}


/*h4 input {
    margin-left: -15%;
}*/

h3 button {
    background: white;
    border: none;
    color: black;
    font-size: 20px;
    border-radius: 10px;
}

h5 {
    font-size: 25px;
    color: green;
}

footer {
    background-color: black;
    color: white;
    border: none;
    margin-top: 35%;
    border-radius: 10px;
    height: 40px;
    padding-top: 1%;
    font-size: 30px;
    font-style: italic;
}

footer i {
    color: red;
    
}
h3{
    color: navy;
}