body {
    background-color: black;
    background: url(https://image.freepik.com/free-vector/abstract-yoga-day-background-vector-illustration_8829-756.jpg) no-repeat center center fixed;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

img {
    border-radius: 50%;
    margin-top: 1%;
}

h1 {
    font-size: 40px;
    color: red;
    text-align: center;
}

li {
    font-size: 25px;
    font-style: italic;
    color: white;
}

h2 img {
    float: left;
    height: 60%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2%;
}

footer {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding-top: 1%;
    font-size: 30px;
    font-style: italic;
    margin-top: -3%;
}

i {
    color: red;
}

h5 {
    margin-left: 60%;
    font-size: 20px;
    margin-top: -1%;
    color: red;
}
@media only screen and (min-width:320px) and (max-width:767px) {
    /*body {
        background-color: red;
    }*/
    .main {
        flex-direction: column;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    body {
        background-color: red;
    }
}